<div>
  <a href="#main">Back to search</a>
  {{error}}
  <br />
  <strong>Name: </strong> {{user.name}}
  <br />
  <strong>Location: </strong>{{user.location}}
  <br />
  <img ng-src="{{user.avatar_url}}" class="img img-rounded img-responsive" style="width: 150px; height: 150px display: block; margin-left: auto; margin-right: auto;" />
  <br>

  <h1>Repos</h1>
  <strong>Order:</strong>
  <select ng-model="repoSortOrder" class="form-control">
    <option value="+name">Name</option>
    <option value="-stargazers_count">Stars</option>
  </select>
  <table ng-hide="!user" class="table table-striped">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Starts
        </th>
        <th>
          Language
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="repo in repos | orderBy: repoSortOrder">
        <td>
          <a href="#user/{{username}}/{{repo.name}}">
            {{repo.name}}
          </a>
        </td>
        <td>{{repo.stargazers_count | number}}</td>
        <td>{{repo.language}}</td>
      </tr>
    </tbody>
  </table>

</div>
